<header>

	<div class="container">
		<div class="banner">
			<div class="banner__img-container offset-md-1 col-md-2 col-sm-2 col-3">
				<img id="svg_logo" class="banner__logo img-responsive center-block" src="{{ asset('bundles/app/img/logo-niebieskie.svg') }}">
			</div>
			<div class="col-md-8 col-sm-10 col-9 banner__title-container">
				<p id="napis1_logo" class="banner__title">
					SYLLABUS 2.0
				</p>
				<p id="napis2_logo" class="banner__subtitle">
					{{ "PROGRAM_OF_DIDACTIC_CLASSES_OF_THE_FACULTY_OF_MATHEMATICS_AND_COMPUTER_SCIENCE"|trans }}
				</p>
			</div>
		</div>
	</div>
</header>